:root {
    --body-color: #e9ecef;
}
* {
  box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;

}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    padding: 20px 0;
}

footer img {
    width: 80%;
    height: 80%;
}

body {
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

main {
    padding: 0 10%;
    margin-top: 200px;
    flex: 1;
}

main p {
    font-size: 30px;
}



nav {
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
    /* background-color: aqua; */
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 20%;
    align-items: center;
    /* border-bottom: 1px outset black; */
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    /* position: relative */
    height: 100px;
    transition: height 0.3s ease-in-out;

}

nav::after {
    content: "";
    height: 2%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, transparent, rgb(152, 127, 127), transparent);


}
section {
  scroll-margin-top: 50px; /* odległość od góry podczas scrollowania */
}

/* groove, ridge, inset, outset */
.logo a{
    /* background-color: lightblue; */
    width: 100%;
    height: 100%;
}
.logo {
    transition: transform 0.3s ease;
}

.nav-list {
    /* background-color: aqua; */
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    white-space: nowrap;
}

.hero-images {
    display: flex;
    flex-direction: row;
    /*background-color: yellow;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.hero-images p {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    color: #9ba98c;
}

.hero-images-composition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 50px;
}

.hero-relax-img {
    position: relative;
    display: flex;
}

.hero-relax-img::after {
    content: "";
    height: 220px;
    width: 220px;
    background-color: #d0c2a4;
    position: absolute;
    z-index: -1;
    clip-path: circle(50% at 50% 50%);
    /* top: -10px; */
      top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.hero-energy-img {
    position: relative;
    display: flex;
    /* background-color: aqua; */
}

.hero-energy-img::after {
    content: "";
    height: 220px;
    width: 220px;
    background-color: #d4ae5c;
    position: absolute;
    z-index: -1;
    clip-path: circle(50% at 50% 50%);
      top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-energy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-regeneration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}